
.app-container {
    background-color: #09091D;
    min-height: 100vh;
    
  }
  
  /* Logo positioning */
  .logo-container {
    position:  relative;
    top: 10px;
    left: 10px;
    padding: 24px;
    display: none;
    max-width: 100%;
    width:2000px;
  }
  
  /* Show logo on medium and larger screens */
  @media (min-width: 768px) {
    .logo-container {
      display: block;
    }
  }
  
  /* Logo size */
  .logo {
    height: 28px;
  }
  