/* General styles */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body {
  background-color: #1a202c;
  color: white;
  font-family: Arial, sans-serif, "IBM Plex Mono", monospace;;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-input::placeholder {
  color: #A0AEC0; 
  opacity: 1; 
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #14b8a6;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
  background-color: #1A1A2D;
  text-align: center;
  height: 700px;
}

h2 {
  font-family: "IBM Plex Mono";
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

/* Input styles */
.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  font-family: "IBM Plex Mono";
}

.full-input {
  font-family: "IBM Plex Mono";;
  width: 70%;
  padding: 30px;
  background-color: #4a5568;
  border: none;
  border-radius: 13px;
  color: #b7b7c2;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  height: 1px;
  
  
  
}

.another-container{
  max-width: 100%;
  margin: 0 auto;
  gap: 30px;
  
}
/* Checkbox */
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #cbd5e0;
  margin-bottom: 2rem;
  padding-left: 110px;
}

/* Button */
.submit-btn {
  font-family: "IBM Plex Mono";
  position: relative;
  background-color: #3F5A7B; /* Light gray */
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 110px 12px 110px;
  border-radius: 7px;
  border: 2px solid #c3d4d2;
  cursor: pointer;
  outline: none;
  z-index: 0;
}

.submit-btn::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 6px;
  right: -7px;
  bottom: 5px;
  background-color: #D9D9D9; /* Blue background */
  border-radius: 7px; /* Bigger radius for the shadow effect */
  z-index: -1;
}

/* Login Link */
.login-link {
  margin-top: 1rem;
  color: #a0aec0;
  font-family: "IBM Plex Mono";
}

.login-link span {
  font-family: "IBM Plex Mono";
  color: #f6e05e;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: #199d97; /* Change this to your desired color */
  width: 18px; /* Adjust size as needed */
  height: 18px; /* Adjust size as needed */
  border: 1px solid #cbd5e0; /* Add a border */
  border-radius: 2px; /* Add a slight border radius */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}


@media only screen and (max-width: 600px) {
  .form-box {
    max-width: 557px;
    height: 700px;
  
  }
  
}

@media only screen and (max-width: 400px){
  .submit-btn {
    font-size: 0.9rem;
    padding: 6px 40px 12px 40px;
    border-radius: 7px;
    border: 2px solid #c3d4d2;
  
  }
  
  
  .submit-btn::before {
  
    top: -2px;
    left: 6px;
    right: -7px;
    bottom: 5px;

  }
  .login-link {
    font-size: 0.9rem;
  }
  
  .login-link span {
    font-size: 0.9rem;
    
  }


  .full-input {
    font-family: "IBM Plex Mono";;
    width: 100%;
    padding: 25px;
    background-color: #4a5568;
    border: none;
    border-radius: 10px;
    color: #cbd5e0;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    height: 1px;
    
  }

  h2 {
    font-family: "IBM Plex Mono";
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}









