/* Unique class names to prevent overriding */
.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #14b8a6;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    background-color: #1A1A2D;
    text-align: center;
    height: 700px;
  }
  
  .login-title {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .fulls-inputs{
    font-family: "IBM Plex Mono";;
    width: 90%;
    padding: 30px;
    background-color: #4a5568;
    border: none;
    border-radius: 13px;
    color: #4F4F5D;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    height: 1px;
  }

  .checkboxs-groups {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #cbd5e0;
    margin-bottom: 2rem;
    padding-left: 40px;
  }
  
  a {
    text-decoration: none; /* Remove underline from links */
  }
  
  .submit2-btn2 {
    flex-direction: column;
    font-family: "IBM Plex Mono";
    position: relative;
    background-color: #3F5A7B; /* Light gray */
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 10px 12px 10px;
    border-radius: 7px;
    border: 2px solid #c3d4d2;
    cursor: pointer;
    outline: none;
    z-index: 0;
  }
  
  .submit2-btn2::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 6px;
    right: -7px;
    bottom: 5px;
    background-color: #D9D9D9; /* Blue background */
    border-radius: 7px; /* Bigger radius for the shadow effect */
    z-index: -1;
  }
  
  .login-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9rem; /* Adds spacing between buttons */
  }

  
  .signup-links {
    margin-top: 1rem;
    color: #a0aec0;
    font-family: "IBM Plex Mono";
  }
  
  .signup-links span, a {
    font-family: "IBM Plex Mono";
    color: #f6e05e;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    accent-color: #199d97; /* Change this to your desired color */
    width: 18px; /* Adjust size as needed */
    height: 18px; /* Adjust size as needed */
  }  